<img src="https://stripe.com/img/logo.png" id="stripeLogo"><br>
Customer since {{createdFromNow}}<br><br>

Total net payments: ${{totalNet}}<br>
<blockquote class="paymentsDetails">
Salut<br>
caca
</blockquote>


{{#relevantPeriodNameLy}}
  {{relevantPeriodNameLy}} average: ${{netAveragePerPeriod}}
{{/relevantPeriodNameLy}}
<br><br>
{{#relevantPeriodName}}
  Evolution {{relevantPeriodName}} over {{relevantPeriodName}}:<br>

  <div class="graph" style="height: {{graphHeight}}px;">
    {{#graphData}}
      <div class="graphBar" title="{{title}}" style="width: {{width}}%; height: {{height}}px; left: {{left}}%; top: {{top}}px;"></div>
    {{/graphData}}

    <!-- Y-axis scale and tick mark -->
    <div class="yAxisTick"></div>
    <div class="yAxisLabel">${{max}}</div>

    <!-- Average line -->
    <div class="averageLine" style="top: {{averageLineHeight}}px;"></div>
  </div>
{{/relevantPeriodName}}
