<img src="https://stripe.com/img/logo.png" id="stripeLogo"><br>
Customer since {{createdFromNow}}<br>

<ul id="mainItems">
<li>
  <a href="#" class="detailsLink">Total net payments: ${{totalNet}}</a>
  <blockquote style="display: none;" class="paymentsDetails">
    Payments: ${{totalCharged}}<br>
    Refunds: ${{totalRefunded}}
  </blockquote>
</li>


{{#relevantPeriodNameLy}}
<li>
  <a href="#" class="detailsLink">{{relevantPeriodNameLy}} average: ${{netAveragePerPeriod}}</a>
  <blockquote style="display: none;" class="paymentsDetails">
  Payments: ${{chargedAveragePerPeriod}}<br>
  Refunds: ${{refundedAveragePerPeriod}}
  </blockquote>
</li>
{{/relevantPeriodNameLy}}

<li>{{subscription}}</li>
</ul>

<br>
{{#relevantPeriodName}}
  Evolution {{relevantPeriodName}} over {{relevantPeriodName}}:<br>

  <div class="graph" style="height: {{graphHeight}}px; width: {{graphWidth}}%;">
    {{#graphData}}
      <div class="graphBar" title="{{title}}" style="width: {{width}}%; height: {{height}}px; left: {{left}}%; top: {{top}}px;"></div>
    {{/graphData}}

    <!-- Y-axis scale and tick mark -->
    <div class="yAxisTick"></div>
    <div class="yAxisLabel">${{max}}</div>

    <!-- Average line -->
    <div class="averageLine" style="top: {{averageLineHeight}}px;">
      <div class="averageLineTitle">Average<br> ${{netAveragePerPeriod}}</div>
    </div>
  </div>
{{/relevantPeriodName}}
